.search__container {
  padding: 1rem;
}

.searchBar {
  display: flex;
  flex-direction: column;
}

.search__title {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.search__label {
  display: flex;
  padding: 3px 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid #e9ecf0;
  border-radius: 5px;
}

.search_logo svg {
  margin-left: 0.5rem;
  margin-right: 0.7rem;
  height: 20px;
  width: 20px;
}

.search__input {
  width: 100%;
  border: none;
  padding: 1rem 0.5rem;
  outline: none;
}

.search--button {
  padding: 1rem;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.search--button:active{
    background-color: #ffffff;
    color: #000000;
}

@media screen and (min-width: 700px) {
  .search__title {
    font-size: 4rem;
  }
  .searchBar {
    flex-direction: row;
    border: 1px solid #e9ecf0;
    border-radius:5px ;
  }

  .search__label {
    width: 100%;
    margin-bottom: 0;
    border: none;
  }

  .search__input{
      font-size: 1rem;
  }

  .search--button {
    width: 20%;
    margin-block: 3px;
  }
}
